---
import Layout from '../layouts/Layout.astro';
---

    
    <Layout title="Welcome to CHAMOLANDIA" >
        <h1 class="text-blue-500 text-6xl hover:animate-pulse">Yo soy Batman</h1>
    </Layout>