---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Organigrama">
   <h1 class="text-6xl text-green-600"> Este es el organigrama</h1>
   <li>
    <a href="/organigrama/biografia">Biografia</a>
   </li>
</Layout>